<section class="a-section a-section--alt a-section--separated">
  <div class="a-content--wide">
    <% seconds = (@meetup.date.to_f / 1000).to_s %>
    <% date = Date.strptime(seconds, '%s') %>
    <p>
      <%= date.strftime("%A #{date.day.ordinalize} %B") %>
    </p>
    <h1>
      <%= link_to @meetup.title, @meetup.url, target: '_blank' %>
    </h1>
    <span class="a-heading--small">
      <%= @meetup.venue_name %>
    </span>
    <br/>
    <%= link_to "http://maps.google.com/?q=#{@meetup.address}", target: '_blank' do %>
      <i class="fa fa-map-marker"></i>
      <%= @meetup.address %>
    <% end %>
    <div class="u-margin-top--small">
      <% if @meetup.rsvp_count > 0 %>
        <%= link_to "RSVP", @meetup.url, target: '_blank', class: 'a-button' %>
      <% else %>
        <%= link_to "RSVP", @meetup.url, target: '_blank', class: 'a-button' %>
      <% end %>
    </div>
    <p class="u-float-right">
      <%= link_to 'Print badges', badges_meetup_path(@meetup.id), target: '_blank' %>
    </p>
  </div>
</section>

<section class="a-section">
  <div class="a-content--wide">
    <h1>Details</h1>
    <%= sanitize @meetup.description %>
  </div>
</section>

<section class="a-section">
  <div class="a-content--wide">
    <h1>
      <%= pluralize @meetup.rsvp_count, 'person' %>
      going
    </h1>
    <div class="m-members">
      <% @members.each do |member| %>
        <%= link_to member.profile_url, target: '_blank' do %>
          <div class="m-member">
            <div class="m-member__content">
              <div class="m-badge__avatar" style="background-image: url(<%= member.thumbnail_image %>)"></div>
              <div class="m-member__details">
                <div class="m-member__name">
                  <%= member.name %>
                </div>
                <% if member.role.present? %>
                  <div class="m-badge__role">
                    <%= member.role %>
                  </div>
                <% end %>
              </div>
            </div>
          </div>
        <% end %>
      <% end %>
    </div>
  </div>
</section>
