<% if @next_meetup.present? %>
  <% if @next_meetup['venue'] %>
    <section class="a-section">
      <div class="a-content--wide">
        <div class="m-intro">
          <h1 class="a-heading--large">
            Spend time with people who love to code.
          </h1>
          <h2>
            <%= timestamp_to_date(@next_meetup['time']) %>
          </h2>
          <h3>
            <%= render partial: 'venue_address' %>
          </h3>
          <%= render partial: 'meetups/rsvp_button', locals: { guest_count: @next_meetup['yes_rsvp_count'], link: @next_meetup['link']} %>
        </div>
      </div>
    </section>
  <% end %>
<% else %>
    <section class="a-section">
      <div class="a-content--wide">
        <div class="m-intro">
          <h1 class="a-heading--large">
            Join us at our next meetup
          </h1>
          <h3>
            <%= link_to "http://maps.google.com/?q=1 THE VILLAGE OFFICES, WESTFIELD, ARIEL WAY LONDON, London", target: '_blank' do %>
              1 THE VILLAGE OFFICES, WESTFIELD, WHITE CITY, LONDON
            <% end %>
          </h3>
          <%= link_to 'RSVP', 'https://www.meetup.com/West-London-Coders/', target: '_blank', class: 'a-button' %>
        </div>
      </div>
    </section>
<% end %>
