<a href='<%= meetups_path %>' class="s-navbar__nav <%= 'is-selected' if current_page?(meetups_path) %>">Meetups</a>
<a href='<%= hackrooms_path %>' class="s-navbar__nav <%= 'is-selected' if current_page?(hackrooms_path) %>">Hackrooms</a>
<a href='<%= members_path %>' class="s-navbar__nav <%= 'is-selected' if current_page?(members_path) %>">Members</a>
<a href='<%= posts_path %>' class="s-navbar__nav <%= 'is-selected' if current_page?(posts_path) %>">Blog</a>
