<header>
  <div class="s-navbar">

    <div class="s-navbar__logo">
      <%= link_to root_path do %>
        <img src="<%= asset_path("logo.svg") %>"/>
        <span class="s-navbar__logo-text">West London Coders</span>
      <% end %>
    </div>

    <div class="s-navbar__desktop-nav-menu">
      <%= render partial: 'layouts/navbar/nav_menu_items' %>
    </div>

    <div class="s-navbar__mobile-burger">
      <a href="#" id="js-nav-menu-dropdown-mobile-trigger">
        <i class="fa fa-bars"></i>
      </a>
    </div>

    <div class="s-navbar__user-nav-icons" id="nav-icons">
      <% if current_member %>
        <%= link_to member_path(current_member), class: 'js-user-nav-trigger' do %>
          <i class="fa fa-gear s-navbar__icon"></i>
        <% end %>
      <% else %>
        <%= link_to member_meetup_omniauth_authorize_path, class: 'a-button a-button--small' do %>
          <i class="fa fa-meetup"></i>
          Sign in
        <% end %>
      <% end %>
    </div>
  </div>

  <div id="nav-menu-dropdown-mobile">
    <%= render partial: 'layouts/navbar/nav_menu_dropdown_mobile' %>
  </div>

  <div id="user-nav-menu-dropdown">
    <%= render partial: 'layouts/navbar/user_nav_menu_dropdown' if current_member %>
  </div>

</header>

<%= render partial: 'layouts/social_links' %>

<div class="u-navbar-clear"></div>
